services:
  frontend:
    build: ./my-app
    ports:
      - "80:80"
    environment:
      - GATEWAY_URL=http://gateway:8090
    depends_on:
      - gateway

  gateway:
    build: ./GatewayService
    ports:
      - "8090:8090"
    environment:
      - GENRESERVICE_URL=http://categories:8080
      - MOVIESERVICE_URL=http://elements:8081
    depends_on:
      - categories
      - elements

  categories:
    build: ./GenreService
    ports:
      - "8082:8080"
    environment:
      - SPRING_DATASOURCE_URL=jdbc:postgresql://categories-db:5432/categories_db
      - SPRING_DATASOURCE_DRIVER_CLASS_NAME=org.postgresql.Driver
      - SPRING_DATASOURCE_USERNAME=postgres
      - SPRING_DATASOURCE_PASSWORD=postgres
      - SPRING_JPA_HIBERNATE_DDL_AUTO=update
      - SPRING_JPA_DATABASE_PLATFORM=org.hibernate.dialect.PostgreSQLDialect
      - MOVIESERVICE_BASE_URL=http://elements:8081
    depends_on:
      - categories-db

  elements:
    build: ./MovieService
    ports:
      - "8081:8081"
    environment:
      - SPRING_DATASOURCE_URL=jdbc:postgresql://elements-db:5432/elements_db
      - SPRING_DATASOURCE_DRIVER_CLASS_NAME=org.postgresql.Driver
      - SPRING_DATASOURCE_USERNAME=postgres
      - SPRING_DATASOURCE_PASSWORD=postgres
      - SPRING_JPA_HIBERNATE_DDL_AUTO=update
      - SPRING_JPA_DATABASE_PLATFORM=org.hibernate.dialect.PostgreSQLDialect
    depends_on:
      - elements-db

  categories-db:
    image: postgres:15-alpine
    environment:
      - POSTGRES_DB=categories_db
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
    ports:
      - "5432:5432"
    volumes:
      - categories_data:/var/lib/postgresql/data

  elements-db:
    image: postgres:15-alpine
    environment:
      - POSTGRES_DB=elements_db
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
    ports:
      - "5433:5432"
    volumes:
      - elements_data:/var/lib/postgresql/data

volumes:
  categories_data:
  elements_data:
