server:
  port: 8090

spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      globalcors:
        cors-configurations:
          '[/**]':
            allowedOrigins: 
              - "http://localhost:4200"
              - "http://localhost"
            allowedMethods:
              - GET
              - POST
              - PUT
              - DELETE
              - OPTIONS
            allowedHeaders: "*"
      routes:
        - id: genres-with-movies
          uri: ${MOVIESERVICE_URL:http://localhost:8081}
          predicates:
            - Path=/genres/with-movies
        - id: movie-service
          uri: ${MOVIESERVICE_URL:http://localhost:8081}
          predicates:
            - Path=/genres/*/movies/**
        - id: genre-service
          uri: ${GENRESERVICE_URL:http://localhost:8080}
          predicates:
            - Path=/genres/**

management:
  endpoints:
    web:
      exposure:
        include: health,info,gateway
